.basket {
  margin-top: 100px;  
}
.basket-items-name {
display:grid;
grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
align-items: center;
color: black;
font-size: max(1vw, 12px);
}
.basket-items-item {
margin: 10px 0px;
color: black;
}
.basket-items-item img{
width: 50px;
}
.basket hr {
   height: 1px;
   background-color: #0073ce; 
   border:none
}
.basket-items-item .cross {
    cursor: pointer;
} 
.basket-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw,20px);
}
.basket-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.basket-total-details {
  display: flex;
  justify-content: space-between;
  color: black;
}
.basket-total hr {
  margin: 10px 0px;
}
.basket-total button {
  border: none;
  color: white;
  background-color: #0073ce;
  width: max(15vw,200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}
.basket-promocode{
  flex: 1;
} 
.basket-promocode p {
  color: grey;
}
.basket-promocode-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}
.basket-promocode-input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}
.basket-promocode-input button{
  width: max(10vw, 150px);
  padding: 12px 5px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 4px;
}