/* Nav bar styling */
.navbar {
  display: flex;
  justify-content: space-between; /* want logo on the left and links on the right */
  align-items: center;
  padding: 10px 15px;
  background-color: #0073ce;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 12px;
}

.nav-links a {
  color: white;
}
